body{
    margin: 0;
}

section{
    padding: 50px 0;
}
.center{
    text-align: center;
}

header{
    margin-top: -40px;
}

.logo{
    width: 120px;
    position: relative;
    top: 45px;
    margin-bottom: 20px;
}

nav{
   position: relative;
   bottom: 15px; 
}

.nav-item a {
    font-size: 14px;
}

.overlay{
    position: relative;
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 600px;
    z-index: 1;
}

.bg-main{
    /* background-color: #0d47a1;
    width: 100%;
    height: 400px; */
    background-image: url("img/bg-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    opacity: 0.85;
}

.bg-main p, button{
    /* text-align: justify; */
    padding: 130px 60px 20px 60px;
    font-size: 40px;
    /* opacity: 0.7; */
    position: relative;
    bottom: 600px;
    z-index: 2;
}

.cta{
    width: 300px;
    height: 60px;
}
.card {
    border: none;
}

.card img{
    width: 100%;
    max-width: 80px;
    margin: auto;
    padding-top: 20px;
}

.card-title{
    text-align: center;
}

.dica img{
    width: 500px;
    
}

.dica p{
    text-align: justify;
    padding: 150px 30px 0 30px;
    font-size: 20px;
}

.download{
    background-color: #0d47a1;
    
}

.download img{
    width: 200px;
    height: 100px;
}

.video iframe {
    margin: 50px 0;
}

.social {
    background-color: #0d47a1;
}

.social-icons img{
    width: 60px;
}

form button{
    position: relative;
    top: 15px;
}
.footer1{
    background-color: #0d47a1;
    padding: 30px 0;
}

.footer1 img{
    width: 120px;
}